body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #12daed;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #1cfc07;
    color: white;
    padding: 20px;
    text-align: center;
}

.navigation {
    background-color: #12daed;
    color: white;
    padding: 10px 0;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-item {
    margin: 10px;
}

.nav-link {
    background-color: #fefe07;
    color: #333;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #4682b4;
    color: white;
}

.enunciado{
    color: #000;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}